body {
    background-color: rgb(22, 119, 189);
    margin: 0; /* This helps to place header against the top.*/
    font-size: 16pt;
}

header {
    display: flex;
    background-color: cornsilk;
    padding: 1rem;
}

form {
  width: 400px;
  margin: auto;
  margin-top:0;
}

input {
  padding: 4px 10px;
  border: 0;
  font-size: 16px;
}

.search {
  width: 75%;
}

.submit {
  width: 70px;
  background-color: rgb(167, 112, 112);
  color: #ffffff;
}

div + p {
    font-family: "Comic Sans MS";}

div ~ p {
    color: green;
}

main {
    background-color: #ffffff;
    max-width: 40rem;
    margin: auto;
    padding: 3rem;
}

/* Correspons to a post */
main>section {
    background-color: #ffffff;
    margin: 1rem;
    padding: 1rem;
    border: 3px solid #ffffff;
    border-radius: 0.5rem;

    /* .shadow */
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
}

.post-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

img.avatar {
    border-radius: 50%; /* Creates circle */
    height: 60px;
}

.post-date {
    height: 60px;
}

/* This selector could allow for nesting of elements in .post-content */
.post-content img {
    width: 100%;
}

.like-button {
    font-size: 16pt;
    border-radius: 0.5rem;
    background-color: rgb(12, 86, 155);
    padding-bottom: 4pt;
    width: 40pt;
}

#small_logo {
    position: absolute;
    width: 48px;
    height: 48px;

    -ms-transform: translate(0, -15%);
    transform: translate(0, -15%);
}
