body {
    background-color: rgb(23, 119, 189);
    font-family: 'Epilogue', sans-serif;
    line-height: 2.5em;
}

#mainbox {
    /* Align vertically and horizontally */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    width: 400px;
    padding: 15px;
    background-color: white;

    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
}

#mainbox_upper {
    display: inline-flex;
    width: 100%;
}

#big_logo {
    flex-basis: 25%;
    height: 100%;
}

#main_text {
    margin-top: 40px;
    flex-basis: 50%;
    text-align:center;
}

#mainbox_upper_empty {
    flex-basis: 25%;
}

button {
    height: 34px;
    width: 72px;
    background-color: rgb(13,87,155);
    border-color: rgb(13,87,155);
    border-radius: 3px;
    border-style: solid;
    color: white;
}

#forgot_password {
    display: block;
    text-align: center;
    width: 100%;
}

form > * {
    display: block;
    margin: 10px auto;
}

form > input {
    width: 175px;
    height: 35px;
    padding: 5px 20px;
    border-radius: 10px 2px;
    border-width: 1px;
    border-color: rgb(118, 118, 118);
}